<!DOCTYPE html>
<html>
  <head>
    <title>Task Manager!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <!--begin main template-->
    <div class="container">
      <h1>Layout Template Jobs!</h1>
      #parse( $template )

    </div>
    <!--end main template-->
  </body>
</html>
